<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" href="">
        <style>
            .main{
                height: 300px;
                width: 400px;
                border: solid black 1px;
                border-radius: 5px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -200px;
                margin-top: -200px;
                /*margin: 0 auto;*/
            }
        </style>
    </head>
    <body>
        <div class="main">
            <div id="login">
                <div>
                    <span class="user"></span>
                    <input type="text">
                </div>
                <div>
                    <span class="key"></span>
                    <input type="password">
                </div>
                <div>
                    <button>login</button>
                </div>
            </div>
        </div>
    </body>
    
</html>